.dashboard-container {
    padding: 36px 36px;
    background: white;
    width: 306px;
    height: 1198px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    .header{
        .title{
          display: flex;
          gap: 8px;

          h1{
            font-family: Poppins;
            font-size: 26px;
            font-weight: 600;
            line-height: 39px;
            letter-spacing: 0.01em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            
            span{
                font-family: Poppins;
                font-size: 10px;
                font-weight: 500;
                line-height: 15px;
                letter-spacing: -0.01em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #838383;
            }
          }
        }
    }
    nav {

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            a {
                display: flex;
                align-items: center;
                gap: 16px;
                color: #9197B3;
                text-decoration: none;
                font-family: Poppins;
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: -0.01em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                width: 231px;

                
            }
            .nav-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px 16px; 
                text-decoration: none; 
                color: inherit; 
                background-color: transparent; /* Default background */
                transition: background-color 0.3s, color 0.3s;
            }
            
            .nav-item .fa-angle-right {
                margin-left: auto;
            }
            
            .nav-item .nav-icon {
                margin-right: 8px;
            }
            
            .nav-item.active-link {
                background-color: #5932EA; /* Active background color */
                color: white; /* Active text color */
                border-radius: 8px;

            }
            
            .nav-item.active-link  .fa-angle-right {
                color: white; /* Active icon color */
                
            }
            
            
        }
        
    }
}
@media screen and (max-width: 590px){
    .title{
        display: flex;
        justify-content: center;
        h1{
            display: none;
        }
    }
    a{
        width: fit-content !important;
        padding: 11px !important;
        span{
            display: none;
        }
        .icon-right{
            display: none;
        }
    }
    .dashboard-container{
        width: fit-content;
        padding: 32px 28px !important; 
    }
}